In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re
from datetime import date
import datetime

In [10]:
large_df = pd.read_html("./uni_data.html",header=0)

In [26]:
have_province = [large_df[1],large_df[3],large_df[5]]
no_province = [large_df[0],large_df[2],large_df[4]]

In [27]:
#concat dataframe in have_province
df_1 = pd.concat(have_province)
df_1 = df_1[['Mã trường','Tỉnh']]
df_1

   Mã trường        Tỉnh
0        DBG   Bắc Giang
1        TDB    Bắc Ninh
2        NaN    Bắc Ninh
3        UKB    Bắc Ninh
4       BHIU    Bắc Ninh
..       ...         ...
39       TTG  Tiền Giang
40       DVT    Trà Vinh
41       VLU   Vĩnh Long
42       MTU   Vĩnh Long
43       DCL   Vĩnh Long

[133 rows x 2 columns]

In [56]:
no_province[0]['Tỉnh']='Hà Nội'
no_province[2]['Tỉnh']='Hồ Chí Minh'
no_province[1]['Tỉnh']=no_province[1]['Địa chỉ'].apply(lambda x: "Thừa Thiên Huế" if "Thừa Thiên Huế" in x else "Đà Nẵng")
df_2 = pd.concat(no_province)
df_2 = df_2[['Mã trường','Tỉnh']]
df_2

   Mã trường         Tỉnh
0        QHF       Hà Nội
1        QHI       Hà Nội
2        QHS       Hà Nội
3        QHE       Hà Nội
4        QHT       Hà Nội
..       ...          ...
56       NaN  Hồ Chí Minh
57       ANS  Hồ Chí Minh
58       CSS  Hồ Chí Minh
59       NaN  Hồ Chí Minh
60       NaN  Hồ Chí Minh

[193 rows x 2 columns]

In [61]:
df = pd.concat([df_1,df_2])
#to csv
df.rename(columns={'Mã trường':'code','Tỉnh':'province'},inplace=True)
# save to csv
df.to_csv('./uni_dict.csv',index=False)